@import "tailwindcss";

@layer base {
  body {
    background-color: #050505;
    color: #f5f5f5;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

/* Custom sleek dark scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #080808;
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}
